html
    head
        title Sample(Chart)
    body
        a(href="../list") back to list
        h1 Sample List(Chart)
        h2 Sample1:
            a(href="instance?templateid=1") check
        h2 Sample2:
            a(href="instance?templateid=2") check
        